body {
    background: linear-gradient(rgb(24, 159, 238), rgb(26, 235, 148));
}

.formulario-pizza {
    text-align: left;
}

.formulario {
    text-align: center;
}

.titulo-principal {
    text-align: center;
}

.sub-titulo {
    text-align: center;
}

footer p {
    text-align: center;
}

.cop {
    background-image: url(https://th.bing.com/th/id/OIP.JSsvpggc5BuNO7uGZVK9ngHaEy?w=265&h=180&c=7&r=0&o=5&pid=1.7);
    color: aliceblue;
    width: 100%;
    height: 50px;
    padding-top: 50px;
    text-align: center;
    background-size: cover;
}

.formulario-cadastro {
    text-align: center;
}

.cadastro {
    text-decoration: none;
    background-color: aliceblue;
    padding: 4px;
    border: 1px solid black;
    border-radius: 3px;
}

.cadastro:hover {
    font-size: 110%;
    background-color: aqua;
    border: 2px dashed;
    border-radius: 8%;
}

.login:hover {
    font-size: 100%;
    background-color: aqua;
    border: 2px dashed;
    border-radius: 8%;
}

.whats {
    margin-left: 93%;
    width: 4%;
    position: fixed;
}

.whats:hover {
    width: 5%;
}

.whatsapp-pagina {
    width: 20%;
    margin-top: 15%;
    margin-left: 42.5%;
}

.numero {
    text-align: center;
    font-size: 600%;
    margin-bottom: 10%;
}

.numero:hover {
    font-size: 650%;
}

.enviar-pedido:hover {
    font-size: 110%;
    background-color: aqua;
    border: 2px dashed;
    border-radius: 8%;
}